.App {
  background: white;
  background: linear-gradient(to bottom right,rgba(40, 240, 255, 0.19),rgba(40, 240, 255, 0.19),white,white,white,white, #ffffff, #ffffff);
  height: 40vh;
  width: 50%;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  margin-top: 30px;
}
